# flyctl launch added from .gitignore
**/config.py
**/*config
**/__pycache__
**/backups
**/.python-version

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .ruff_cache/.gitignore
.ruff_cache/**/*

# flyctl launch added from htmlcov/.gitignore
# Created by coverage.py
htmlcov/**/*
fly.toml
